*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    
}

header {
    display: flex; flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    border-bottom: 2px solid #03A055;
    margin-bottom: 20px;
    position: fixed; top: 0; width: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px 0 gray;
}

main{
    padding-top: 100px;
}

header a {
    list-style: none;
    text-decoration: none;
    color: #03A055;
    font-style: italic;
    font-weight: bold; font-size: 42px;
    margin: 20px;
}

.navbar li{
    list-style: none;
    text-decoration: none;
}

.navbar li a{
    color:#03A055; font-size: 20px;
    font-weight: light;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 260px;
    background-color: #03a05441;
    gap: 5px;
}

footer div p{
    font-size: 24px;
    font-style: italic; font-weight: 500;
}

.logositio {
    color: #03A055; font-style: italic;
    font-size: 42px; font-weight: bold;
}

.mainindex{
    display:grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(9, 170px);
}


.mainindex section div{
    width: 90%;
    height: 100%;
}

.mainindex section div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.intro div img{
    object-fit: none;   
}

.intro{
    grid-column: 3/11;
    grid-row: 1/2;
    align-self: first baseline;
}

.sec1 {
    grid-column: 3/11;
    grid-row: 2/4;
    align-self: first baseline;
}
.sec2 {
    grid-column: 3/11;
    grid-row: 4/6;
    align-self: first baseline;
}
.sec3 {
    grid-column: 3/11;
    grid-row: 6/8;
    align-self: first baseline;
}
.sec4 {
    grid-column: 3/11;
    grid-row: 8/10;
    align-self: first baseline;
}
 
section p {
    width: 90%;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #03A055;
}

.mainservicios{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 442px; width: 219px;
    border: 2px solid #03A055;
    border-radius: 16px;
    box-shadow: 5px 5px 5px  gray;
}

#card-1{
    grid-column: 1/3;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}

#card-2{
    grid-column: 3/5;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}

#card-3{
    grid-column: 5/7;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}

#card-4{
    grid-column: 7/9;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}

#subt1{
    text-align: center;
}

#subt2{
    text-align: center;
}

.card ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
}

.card ul li {
    font-size: 18px;
    font-weight: 500;
}

.containerqs{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 100px);
}

.imgqs{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    
}

.imgqs img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.p1{
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    padding-left: 40px;
    font-size: 20px;
}

.tit1{
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 24px; font-weight: bold;
    color: #03A055;
    padding-top: 10px;
}

.tit2{
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 24px; font-weight: bold;
    color: #03A055;
    padding-top: 10px;
}

.tit3{
    grid-column: 6/7;
    grid-row: 3/4;
    font-size: 24px; font-weight: bold;
    color: #03A055;
    padding-top: 10px;
}

.p2{
    grid-column: 2/4;
    grid-row: 3/7;
    padding: 40px 30px 30px 0;
    text-align: justify;
    font-size: 20px;
}

.p3{
    grid-column: 4/6;
    grid-row: 3/7;
    padding: 40px 30px 30px 0;
    text-align: justify;
    font-size: 20px;
}

.valores{
    grid-column: 6/7;
    grid-row: 3/7;
    padding: 40px 30px 30px 30px;
    text-align: justify;
    font-size: 20px;
}

h2 {
    color: #03A055; font-size: 24px;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #03a05470;
    border: none; border-radius: 16px;
    margin-bottom: 25px;
    font-weight: bold;
}

.cardcontainer{
    display: grid;
    grid-template: repeat(2, 300px) / repeat(5,200px);
    height: 100vh;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.cardcontainer article{
    width: 200px;
    height: 300px;
    border: 1px solid green;
    border-radius: 8px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cardcontainer article:hover{
    border: 3px solid black;
}

.cardcontainer article div{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardcontainer article div img{
    width: 90%;
    height: 90%;
    border-radius: 16px;
    object-fit: contain;
}

.cardcontainer article a{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.txtclientes{
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
}

.grid-form{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12,50px);
}

form{
    grid-column: 3/7;
    grid-row: 2/12;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    width: 500px;

}

form label{
    padding-top: 20px;
}

form input{
    border-color: #03A055;
}

textarea{
    border-color: #03A055;
}

form div input {
    padding: 10px;
    background-color: #03a05470;
    border: none; border-radius: 16px;
    margin-top: 25px;margin-bottom: 25px;
}




