footer{
    @include flex(row, wrap, space-evenly, center,5px)
    height: 260px;
    background-color: #03a05441;
    .logositio{
        color: #03A055; font-style: italic;
        font-size: 42px; font-weight: bold;
    }
    div{
        p{
            font-size: 24px;
            font-style: italic; font-weight: 500;
        }
    }
}
