.headerdesktop {
    @include flex (row, nowrap, space-around, center, none);
    border-bottom: 2px solid #03A055;
    margin-bottom: 5px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px 0 gray;
    a{
    list-style: none;
    color: #03A055;
    font-style: italic;
    font-weight: bold; 
    font-size: map-get($fontsize, f1);
    margin: 20px;
    }
    nav{
        .navbar{
            @include flex (row, nowrap, space-around, center, 100px)
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 100px;
            li{
                list-style: none;
                a{
                    color:#03A055; 
                    font-size: map-get($fontsize, f5);
                    font-weight: light;
                }
            }
        }
    }
}