.qsomos{
    @include flex (row, wrap, center, none, 30px)
    margin-top: 15px;
}

.qsomos div{
    width: 590px;
    height: 280px;
}

.qsomos{
    .divp{
        border: 1px solid #03A055;
        padding: 10px;
        border-radius: 8px;
        p{
            text-align: justify;
            font-size: map-get($fontsize, f5b);
        }
    } 
} 

.qsomos .divimg {
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
}

.mvv{
    @include flex (row, wrap, center, none, 70px)
    margin-bottom: 120px;
    margin-top: 50px;
    section{
        width: 350px;
        border: 1px solid #03A055;
        padding: 10px;
        border-radius: 8px;
        .subtitulo{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p{
            font-size: map-get($fontsize, f5b);
            text-align: justify;
            line-height: 1.5;
        }
    }
}

.valores{
    ul{
        padding-left: 15px;
        li{
            font-size: map-get($fontsize, f5b);
            list-style-type: disc;
            line-height: 1.5;
    }
}  
}

