.table-perfo {
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 100px;
    font-size: map-get($fontsize, f4);
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    tbody{
      tr{
        padding: 60px 60px;
        border-bottom: 1px solid #dddddd;
        &:nth-of-type(even) {
          background-color: #f3f3f3;
          }
        &:last-of-type {
            border-bottom: 2px solid #009879;
          }
        td{padding: 60px 60px;
        }  
      }
      .green-row {
        font-weight: bold;
        color: #009879;
      }
    }  
  }



  
  
