.maincontacto{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
    .contacto{
        grid-column: 3/7;
        form{
            @include flex(column,nowrap,center,none,none);
            margin-top: 20px;
            margin-bottom: 50px;
            p{
                border-bottom: 1px solid #03A055;
                font-size: map-get($fontsize , f5 );
                padding-bottom: 5px;
            }
            label{
                padding-top: 20px;
            }
            input{
                border-color: #03A055;
            }
            textarea{
                border-color: #03A055;
            }
            div input {
                padding: 10px;
                background-color: #03a05470;
                border: none; border-radius: 16px;
                margin: 25px 0;
            }
        }        
    }   
}
