.txtclientes{
    text-align: center;
    font-size: map-get($fontsize, f4);
    margin-top: 15px;
    text-shadow: 1px 1px 1px  #03a054;
}

.cardcontainer{
    @include flex (row, wrap, center, center, 20px);
    margin-top: 20px; 
    margin-bottom: 20px;
    article{
        @include flex (column, nowrap, space-around, center, none)
        width: 200px;
        height: 300px;
        border: 1px solid green;
        border-radius: 8px;
        box-shadow: 5px 5px 5px gray;        
        &:hover{
            border: 3px solid black;
        }
        div{
            @include flex (column, nowrap, none, center, none)
            width: 100%;
            height: 60%;           
            img{
                width: 90%;
                height: 90%;
                border-radius: 16px;
                object-fit: contain;
            }
        }
        a{
            text-align: center;
            color: #03a054;
            font-size: map-get($fontsize, f4);
        }
    }
}