*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

section p {
    font-size: map-get($fontsize, f5a);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: #03A055; 
    font-size: map-get($fontsize, f4);
    font-weight: bold;
}