*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

section p {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section h2 {
    color: #03A055; font-size: 24px;
    font-weight: bold;
}