@media (max-width: 768px){
    .qsomos{
        margin-top: 0;
        .divimg{
        padding-top: 0;
        } 
    }
    
    .mvv{
        gap: 50px;
        margin: 20px 0px; 
        align-items: flex-start;
    }
    .subtitulo{
        padding-top: 0;
    }
    .valores{
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .qsomos{
        margin-top: 0;
        gap: 10px;
        div{
            width: 530px;
            height: 250px;
        }
    }
    .qsomos{
        .divimg{
            padding-top: 0;
            img{
                object-fit: contain;
            }
        } 
    }
}

@media (max-width: 480px){
    .qsomos{
        margin-top: 0;
        gap: 10px;
        div{
            width: 550px;
            height: 260px;
        }
    }
    .qsomos{
        .divimg{
            padding-top: 0;
            img{
                object-fit: contain;
            }
        } 
    }
}

@media (max-width: 435px){
    .qsomos{
        margin-top: 0;
        gap: 10px;
        div{
            width: 410px;
            height: 185px;
        }
    }
    .qsomos{
        .divimg{
            padding-top: 0;
            img{
                object-fit: contain;
            }
        } 
    }
    
    .qsomos .divp p{
        padding: 0px 10px;
        font-size: map-get($fontsize, f6);
    }
    .subtitulo{
        padding-top: 0;
    }
    .valores{
        margin-bottom: 20px;
    }

    .mvv{
        section{
            p{
                font-size: map-get($fontsize, f6);
            }
            .valores{
                ul{
                    li{
                        font-size: map-get($fontsize, f6);
                    }
                }
            }
        }
    }
}

@media (max-width:345px){
    .qsomos{
        margin-top: 0;
        gap: 10px;
    }
    .qsomos div p{
        padding: 0px 10px
    }
    .subtitulo{
        padding-top: 0;
    }
    .valores{
        ul{
            margin-bottom: 20px;
        }
    }
    .valores{
        padding-left: 10px;
    }
}

