@media (max-width: 768px){
    
    .qsomos{
        margin-top: 10px;
    } 
    .mvv{
        gap: 50px;
        margin: 0px 0px; 
        align-items: flex-start;
    }
    .subtitulo{
        padding-top: 0;
    }
    .valores{
        margin-bottom: 20px;
    }
}

@media (max-width: 425px){
    .qsomos{
        margin-top: 0;
        gap: 10px;
    }
    
    .qsomos div p{
        padding: 0px 20px;
        font-size: map-get($fontsize, f6);
    }
    .subtitulo{
        padding-top: 0;
    }
    .valores{
        margin-bottom: 20px;
    }

    .mvv{
        section{
            p{
                font-size: map-get($fontsize, f6);
            }
            .valores{
                ul{
                    li{
                        font-size: map-get($fontsize, f6);
                    }
                }
            }
        }
    }
}

@media (max-width:340px){
    .valores{
        padding-left: 10px;
    }
}

@media (max-width:320px){
    .qsomos{
        margin-top: 0;
        gap: 10px;
    }
    .qsomos div p{
        padding: 0px 20px
    }
    .subtitulo{
        padding-top: 0;
    }
    .valores{
        ul{
            margin-bottom: 20px;
        }
    }
}