@media (max-width:876px){
    .mainservicios{
        gap: 100px; 
    }
}

@media (max-width:768px){
    .mainservicios{
        gap: 60px; 
    }
}

@media (max-width:700px){
    .servilus{
        display: none;
    }
    .mainservicios{
        margin-top: 5px;
    }
}

@media (max-width: 425px){
    .card{
        height: 340px; width: 170px;
        border: 2px solid #03A055;
        border-radius: 16px;
        box-shadow: 5px 5px 5px  gray;
        .card h1{
            font-size: 16px;
        }
        .card ul{
            @include flex (column, nowrap, none, none, 10px);            
            padding-left: 25px;
            .card ul li {
                font-size: map-get($fontsize, f6);
                font-weight: 500;
            }
        }
    } 
}